@model IEnumerable<Infrastructure.Models.PlanCobro>

@{
    ViewBag.Title = "Listado de Planes de Cobro";
}

<h2>Listado de Planes de Cobro</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            Nombre
        </th>
        <th>
            Descripción
        </th>
        <th>
            Por Defecto
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.automatico)
            </td>
            <td>
                @Html.ActionLink("Detaalles", "Details", new { id = item.ID })
                @*
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                *@
            </td>
        </tr>
    }

</table>
