@model IEnumerable<Infrastructure.Models.Noticias>

@{
    ViewBag.Title = "Noticias";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Crear una noticia", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { nombre = item.nombre })
        </td>
    </tr>
}

</table>
