@model IEnumerable<Infrastructure.Models.Noticias>

@{
    ViewBag.Title = "Noticias";
}

<h2>Noticias</h2>

<p>
    <button class="btn btn-primary" type="button" onclick="location.href='@Url.Action("Create")'">Crear una noticia</button>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha)
        </td>
        <td>
            <button class="btn btn-secondary" type="button" onclick="location.href='@Url.Action("Edit", new { nombre = item.nombre })'">Editar</button>
        </td>
    </tr>
}

</table>
