@model Infrastructure.Models.PlanCobro
@using ApplicationCore.Utils.Enums
@using ApplicationCore.Utils.Extensions

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles del plan de cobro No. @Model.ID</h2>

<div>
    <dl class="dl-horizontal dl-list">
        <dt>
            @Html.DisplayNameFor(item => item.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(item => item.nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(item => item.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(item => item.descripcion)
        </dd>
        <dt>
            @Html.DisplayNameFor(item => item.automatico)
        </dt>

        <dd>
            @(Model.automatico ? "Sí" : "No")
        </dd>


    </dl>

    <br />
    <h2>Rubros del plan:</h2>
    <br />

    <table class="table">
        <tr>
            <th>
                Motivo
            </th>
            <th>
                Monto
            </th>
            
        </tr>

        @foreach (var rubro in Model.Rubro)
        {
            <tr>
                <td>
                    @rubro.motivo
                </td>
                <td>
                    @{
                        if (rubro.porcentual)
                        {
                            @Html.Raw(string.Format("{0:0.##}% del valor base", rubro.monto * 100));
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => rubro.monto);
                        }
                    }
                </td>
            </tr>
        }
    </table>
</div>
<p>
    @Html.ActionLink("Regresar al listado", "Index")
</p>
