@model IEnumerable<Infrastructure.Models.PlanCobro>

@{
    ViewBag.Title = "Listado de Planes de Cobro";
}

<h2>Listado de Planes de Cobro</h2>

<p>
    @Html.ActionLink("Crear un nuevo plan", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(modelItem => modelItem.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(modelItem => modelItem.descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(modelItem => modelItem.automatico)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.automatico)
            </td>
            <td>
                @Html.ActionLink("Detalles", "Details", new { id = item.ID })
                @Html.ActionLink("Editar", "Edit", new { id = item.ID })
            </td>
        </tr>
    }

</table>
