@model IEnumerable<Infrastructure.Models.PlanCobro>

@{
    ViewBag.Title = "Listado de Planes de Cobro";
}

<h2>Listado de Planes de Cobro</h2>

<button class="btn btn-primary" type="button" onclick="location.href='@Url.Action("Create")'">Crear un plan</button>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(modelItem => modelItem.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(modelItem => modelItem.descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(modelItem => modelItem.automatico)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.automatico)
            </td>
            <td>
                <button class="btn btn-info" type="button" onclick="location.href='@Url.Action("Details", new { id = item.ID })'">Detalles</button>
                <button class="btn btn-secondary" type="button" onclick="location.href='@Url.Action("Edit", new { id = item.ID })'">Editar</button>
            </td>
        </tr>
    }

</table>
