@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>


@using (Html.BeginForm("Login", "Usuario"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <br />
        <p class="text-danger">@TempData["ErrorMsg"]</p>
        <div class="form-group mb-3">
            @Html.Label("Correo electrónico", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Editor("email", new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group mb-3">
            @Html.Label("Contraseña", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Password("pass", null, new { @class = "form-control text-box single-line" })
            </div>
        </div>

        <div class="form-group mb-3">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
