@model Infrastructure.Models.Rubro

@{
    ViewBag.Title = "Crear un Rubro";
}

@using (Html.BeginForm("Save", "Rubro")) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Crear un nuevo rubro</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.monto, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.monto)
                @Html.ValidationMessageFor(model => model.monto, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.porcentual, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.porcentual)
                    @Html.ValidationMessageFor(model => model.porcentual, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.motivo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.motivo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.motivo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crear" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    <button class="btn btn-info" type="button" onclick="location.href='@Url.Action("Index", "Rubro")'">Regresar al listado</button>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
