@model IEnumerable<Infrastructure.Models.Rubro>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.motivo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.monto)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.motivo)
        </td>
        <td>
            @(item.porcentual ? string.Format("{0:0.##}% del valor base", item.monto * 100) : string.Format("\u20a1{0:0.00##}", item.monto))
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID })
        </td>
    </tr>
}

</table>
