@model IEnumerable<Infrastructure.Models.Rubro>

@{
    ViewBag.Title = "Lista de Rubros";
}

<h2>Listado de rubros</h2>

<button class="btn btn-primary" type="button" onclick="location.href='@Url.Action("Create")'">Crear un rubro</button>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.motivo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.monto)
        </th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.motivo)
        </td>
        <td>
            @{
                if (item.porcentual)
                {
                    @Html.Raw(string.Format("{0:0.##}% del valor base", item.monto * 100));
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.monto);
                }
            }
        </td>
        <td>
            <button class="btn btn-secondary" type="button" onclick="location.href='@Url.Action("Edit", new { id = item.ID })'">Editar</button>
        </td>
    </tr>
}

</table>
