@model IEnumerable<Infrastructure.Models.Incidencia>

@{
    ViewBag.Title = "Listado de incidencias";
}

<h2>Listado de incidencias</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Usuario.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha)
        </td>
        <td>
            @(item.estado == 0 ? "Pendiente" : "Revisado")
        </td>
        <td>
            @Html.ActionLink("Cambiar Estado", "UpdateState", "Incidencia", new { id = item.ID }, new { @class = "btn btn-default" })
        </td>
    </tr>
}

</table>
